@{
    ViewBag.Title = "About";
}
<h2 style="color: #a82828">@ViewBag.Title</h2>

<main>
    <div class="container-fluid bg-3 text-center">
        <h3 style="color: #a82828">Our Coaches</h3>

        <div class="row display-flex">
            <div class="col-md-4">
                <div class="box" style="border-right: 5px solid #000;">
                    <h2>Coach Adam</h2>
                    <img src="~/Content/Images/coach.jpg" class="img-responsive" style="width:80%" alt="coach">
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="box" style="border-right: 5px solid #000;">
                    <h2>Coach Bryan</h2>
                    <img src="~/Content/Images/coach.jpg" class="img-responsive" style="width:80%" alt="coach">
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="box">
                    <h2>Coach Mandy</h2>
                    <img src="~/Content/Images/coach.jpg" class="img-responsive" style="width:80%" alt="coach">
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
        </div>

        <h3 style="color: #a82828">Our Mission</h3>
        <div class="row display-flex">
            <div class="col-md">
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>

        <h3 style="color: #a82828">Our Expectations</h3>
        <div class="row display-flex">
            <div class="col-md">
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>

    </div>
</main>
