@{
    ViewBag.Title = "Contact";
}
<h2 style="color: #a82828">@ViewBag.Title</h2>

<div class="container-fluid bg-grey">
    <div class="row display-flex">
        <div class="col-sm-5">
            <div class="box">
                <h3>Contact us directly or using the contact form and we'll get back to you within 24 hours.</h3>
                <p><span class="glyphicon glyphicon-map-marker"></span><a href="https://www.google.com/maps/" target="_blank"> Minneapolis, US</a> </p> 
                <p><span class="glyphicon glyphicon-phone"></span> 555-555-5555</p>
                <p><span class="glyphicon glyphicon-envelope"></span> myemail@email.com</p>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="box">
                <h3>Contact Form</h3>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for="name">Enter your Name</label>
                        <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="email">Enter your Email</label>
                        <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                    </div>
                </div>

                        <label for="comments">Enter your Questions & Comments</label>
                        <textarea class="form-control" style="min-width: 100%" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>

            
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <button class="btn btn-default pull-left" type="submit">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row display-flex">
        <div class="col-md-12">
            <h3 class="text-center">Our Location on Google Maps</h3>
            <img src="~/Content/Images/map.jpg" style="width:100%">
        </div>
    </div>
</div>