@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Future address
    and phone information
</address>

<address>
    <strong>Email:</strong>   <a href="#">Email@mattsboxing</a><br />
</address>