
@{
    ViewBag.Title = "Merchandise";
}

<h2 style="color: #a82828">@ViewBag.Title</h2>

<div class="container-fluid">
    <h4 style="color: #fff">The following products are available for purchase at our gym</h4>

    <!-- row 1-->
    <div class="row ">

        <div class="col-md-4">
            <!-- Card 1-->
            <div class="panel panel-default my_panel">
                <div class="panel-body">
                    <img src="~/Content/Images/gloves.jpg" alt="gloves" class="img-responsive center-block" />
                </div>
                <div class="panel-footer">
                    <h3>Boxing Gloves</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, voluptas, sunt vitae mollitia iure perferendis rerum odio! Natus, cupiditate, est, quas, non perspiciatis in quo possimus eos voluptas tempore maxime.</p>                    
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <!-- Card 2 -->
            <div class="panel panel-default my_panel">
                <div class="panel-body">
                    <img src="~/Content/Images/mouth-guard.jpg" alt="mouth guard" class="img-responsive center-block" />
                </div>
                <div class="panel-footer">
                    <h3>Mouth Guard</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, voluptas, sunt vitae mollitia iure perferendis rerum odio! Natus, cupiditate, est, quas, non perspiciatis in quo possimus eos voluptas tempore maxime.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <!-- Card 3-->
            <div class="panel panel-default my_panel">
                <div class="panel-body">
                    <img src="~/Content/Images/shirt.jpg" alt="shirt" class="img-responsive center-block" />
                </div>
                <div class="panel-footer">
                    <h3>Matts Boxing T-Shirt</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, voluptas, sunt vitae mollitia iure perferendis rerum odio! Natus, cupiditate, est, quas, non perspiciatis in quo possimus eos voluptas tempore maxime.</p>                    
                </div>
            </div>
        </div>
    </div>

    <!-- Row 2-->
    <div class="row">
        
        <div class="col-md-4">
            <!-- Card 1-->
            <div class="panel panel-default my_panel">
                <div class="panel-body">
                    <img src="~/Content/Images/shoes.jpg" alt="shoes" class="img-responsive center-block" />
                </div>
                <div class="panel-footer">
                    <h3>Boxing Shoes</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, voluptas, sunt vitae mollitia iure perferendis rerum odio! Natus, cupiditate, est, quas, non perspiciatis in quo possimus eos voluptas tempore maxime.</p>
                </div>
            </div>
        </div>

            
        <div class="col-md-4">
            <!-- Card 2 -->
            <div class="panel panel-default my_panel">
                <div class="panel-body">
                    <img src="~/Content/Images/shorts.jpg" alt="shorts" class="img-responsive center-block" />
                </div>
                <div class="panel-footer">
                    <h3>Boxing Shorts</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, voluptas, sunt vitae mollitia iure perferendis rerum odio! Natus, cupiditate, est, quas, non perspiciatis in quo possimus eos voluptas tempore maxime.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <!-- Card 3-->
            <div class="panel panel-default my_panel">
                <div class="panel-body">
                    <img src="~/Content/Images/wraps.jpg" alt="wraps" class="img-responsive center-block" />
                </div>
                <div class="panel-footer">
                    <h3>Hand wraps</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, voluptas, sunt vitae mollitia iure perferendis rerum odio! Natus, cupiditate, est, quas, non perspiciatis in quo possimus eos voluptas tempore maxime.</p>                    
                </div>
            </div>
        </div>
    </div>

</div>