
@{
    ViewBag.Title = "Signoff";
}


    <div class="jumbotron">
        <h2>Thanks for visiting Matts Boxing</h2>
        <p>You are successfully logged out, please log back in to view site content.</p>
    </div>


